@media (max-width: 767px) {
    .navbar-brand{
        align-items:right;
    }
    #project-display{
        position: fixed;
        z-index: 20;
        /* height: 200px; */
        background-color: #958af3;
        box-shadow: #958af3;
        top: 200px;
        border-radius: 25px;        
    }
    .mobile-menu{
        display: none;
    }
    #mynav{
        background-color: #741ce8;
    }
    .techTitle{
        width: 100%;
        text-align: center;
    }
    
}
.navbar-toggler{
    border: 2px solid #000;
}

#home{
    background: linear-gradient(to bottom,#7a19f1,#332179);
    height: 600px;
    padding-top: 190px !important;
}
    
}
@media (min-width: 767px) {
    .mobile-menu{
        display: none;
    }
}

.mobile-menu{
    display: none;
    border: solid 1px #741ce8;
    width: 100%;
    background-color: #741ce8;
    line-height: 35px;
    text-align: center
        
}
.mobilemanuList{
    list-style-type: none;
}
.mlink{
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    line-height: 46px;
}
.mlink:hover{
    color: rgb(17, 15, 15) !important;
    text-decoration: none;
}
.mManuItem{
    width: 100%;
}
.nav-link{
    font-weight: bolder;
    color: #ffffff;
}
.nav-link:hover{
    color: rgb(17, 15, 15) !important;
}
#services{
    background-image: url(./../img/bg-1.jpg);
}
#about{
    background-image: url(./../img/lauren-mancke-aOC7TSLb1o8-unsplash.jpg);
    background-attachment: fixed;
}

.scrolling {
    position: fixed;
    background-color: #741ce8;
}

#logo{
    color: rgb(17, 15, 15) !important;
    font-family: 'Amatic SC', cursive;
}
#welcomeNote{
    color: rgb(255, 255, 255);
    font-family: 'Amatic SC', cursive;
}
.header-button {
    border: rgb(255, 255, 255) solid 2px;
    font-size: 25px;
    border-radius: 10px;
    width: 100px;
}
#headerbtn{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
#headerbtn:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.header-button:hover {
    border: rgb(0, 0, 0) solid 2px;
    color: rgb(0, 0, 0);
    
}

.header-button{
    animation: x 8s linear 2s infinite alternate;
    position: relative;
    
  }
  
  @keyframes x {
    0%   {left:-100px; top:0px; border-radius: 0%;}
    25%  {left:100px; top:0px; border-radius: 25%;}
    100% {left:-100px; top:0px; border-radius: 0%;}
  }

#aboutContainer{
    background-color: #523ea2;
    border-radius: 10px;
}
#imgMe{
    border: solid 2px #82a7d4;
    border-radius: 50%;
    width: 100%;
    margin-top: 20px;
}

.about-header-text{
    /* font-family: 'Amatic SC', cursive;
    font-family: 'Amatic SC', cursive; */
/* font-family: 'Lobster', cursive;
font-family: 'Permanent Marker', cursive; */
font-family: 'Piedra', cursive;
color: blanchedalmond;
}

.timeline {
    position: relative;
  }
  
  .timeline .timelin-title {
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 25px;
    
  }
  
  .timeline li {
    padding: 0px 0px 9px 9px;
    list-style: none;
    border-left: 2px solid #f1f1f1;
  }
  
  .timeline li .content-text {
    background: #f5ddc4;
    padding: 15px;
    border: solid 1px #ce4714;
    border-radius: 5px;
  }
  
  .timeline li .line-title {
    font-size: 16px;
    line-height: 6px;
  }
  
  .timeline li span {
    font-size: 12px;
    display: block;
  }
  
  .timeline li .line-text {
    color: #888;
    line-height: 18px;
  }

  .services-item{
    background: #f5ddc4;
    border-radius: 5px;
    text-align: center;
    line-height: 20px;
  }

#resumeD{
    margin-top: 10px;
    border: solid 1px blanchedalmond;
    width: 100%;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    color: blanchedalmond !important;
}

#resumeD:hover{
    color: rgb(17, 15, 15) !important;
    text-decoration: none;
    border: solid 1px  rgb(17, 15, 15);
}
.conectSm{
    width: 50px;
    position: fixed;
    height: 240px;
    right: 0px;
    top: 150px;
    background-color: cornsilk;
    z-index: 10;
}
.smb{
    width: 100%;
    padding-left: 3px;
}
#linkedin{
    color: rgb(0, 0, 255);
}
#github{
    color: rgb(0, 0, 0);
}
#gmail{
    color: rgb(72, 196, 72);
}
#fb{
    color: rgb(53, 120, 245);
}
#whatsapp{
    color: rgb(16, 241, 16);
}

#linkedin:hover{
    color: rgb(15, 15, 102);
}
#github:hover{
    color: rgb(78, 76, 76);
}
#gmail:hover{
    color: rgb(15, 116, 15);
}
#fb:hover{
    color: rgb(45, 84, 158);
}
#whatsapp:hover{
    color: rgb(6, 110, 6);
}

#technologies{
    background-image: url(./../img/shahadat-rahman-gnyA8vd3Otc-unsplash.jpg);
    background-attachment: fixed;
}

.technologies-section-title{
    font-weight: bold;
}
#technologies-container{
    background-color: #523ea2;
    border-radius: 10px;
}
.techTitle{
    color: cornsilk;
}
.techItem{
    margin: 18px;
}
#portfolio{
    background-image: url(./../img/fernando-hernandez-JdoofvUDUwc-unsplash.jpg);
    background-attachment: fixed; 
}

#Contact{
    background-image: url(./../img/shahadat-rahman-gnyA8vd3Otc-unsplash.jpg);
    background-attachment: fixed; 
}
#arrowup{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: white;
    position: fixed;
    z-index: 10;
    bottom: 60px;
    right: 50px;
}
.not-show{
    display: none;
}
.show{
    display: inline;
}
.contact-form{
    background-color: #958af3;
    border-radius: 25px;
    margin: 20px;
}
.footer-link{
    color: wheat;
}

.footer-link:hover{
    color: rgb(199, 156, 75);
    text-decoration: none;
}
@media (min-width: 767px) {
    #project-display{
        position: fixed;
        z-index: 20;
        background-color: #958af3;
        box-shadow: #958af3;
        top: 200px;
        border-radius: 25px;
        left: 20%;
    }    
}
.projImgDiv:hover{
    opacity: 50%;
    border-radius: 10px;
}