
@media (max-width: 767px) {
    .navbar-brand{
        align-items:right;
    }
    .mobile-menu{
        display: none;
    }
    #mynav{
        background-color: #741ce8;
    }
}
.navbar-toggler{
    border: 2px solid #000;
}

#home{
    background: linear-gradient(to bottom,#7a19f1,#332179);
    height: 600px;
    padding-top: 190px !important;
}
    
}
@media (min-width: 767px) {
    .mobile-menu{
        display: none;
    }
}

.mobile-menu{
    display: none;
    border: solid 1px #741ce8;
    width: 100%;
    background-color: #741ce8;
    line-height: 35px;
    text-align: center
        
}
.mobilemanuList{
    list-style-type: none;
}
.mlink{
    font-weight: bold;
    color: rgb(255, 255, 255) !important;
    line-height: 46px;
}
.mlink:hover{
    color: rgb(17, 15, 15) !important;
    text-decoration: none;
}
.mManuItem{
    /* border: crimson solid 1px; */
    width: 100%;
}
.nav-link{
    font-weight: bolder;
    color: #ffffff;
}
.nav-link:hover{
    color: rgb(17, 15, 15) !important;
}
#services{
    background-image: url(./../img/bg-1.jpg);
    /* height: 400px; */
}
#about{
    background-image: url(./../img/lauren-mancke-aOC7TSLb1o8-unsplash.jpg);
    background-attachment: fixed;
    /* height: 500px; */
}

.scrolling {
    position: fixed;
    background-color: #741ce8;
    /* border-bottom: #0000001c 2px solid; */
}

#logo{
    color: rgb(17, 15, 15) !important;
    font-family: 'Amatic SC', cursive;
}
#welcomeNote{
    color: rgb(255, 255, 255);
    font-family: 'Amatic SC', cursive;
}
.header-button {
    border: rgb(255, 255, 255) solid 2px;
    font-size: 25px;
    border-radius: 10px;
    width: 100px;
}
#headerbtn{
    color: rgb(255, 255, 255);
    text-decoration: none;
}
.header-button:hover {
    border: rgb(0, 0, 0) solid 2px;
    
}

.header-button{
    animation: x 8s linear 2s infinite alternate;
    position: relative;
    
  }
  
  @keyframes x {
    0%   {left:-100px; top:0px; border-radius: 0%;}
    25%  {left:100px; top:0px; border-radius: 25%;}
    100% {left:-100px; top:0px; border-radius: 0%;}
  }

#aboutContainer{
    background-color: #523ea2;
    border-radius: 10px;
}
#imgMe{
    border: solid 2px #82a7d4;
    border-radius: 50%;
    width: 100%;
    margin-top: 20px;
}

.about-header-text{
    /* font-family: 'Amatic SC', cursive;
    font-family: 'Amatic SC', cursive; */
/* font-family: 'Lobster', cursive;
font-family: 'Permanent Marker', cursive; */
font-family: 'Piedra', cursive;
color: blanchedalmond;
}

.timeline {
    position: relative;
  }
  
  .timeline .timelin-title {
    font-size: 20px;
    text-transform: uppercase;
    margin-left: 25px;
    
  }
  
  .timeline li {
    padding: 0px 0px 9px 9px;
    list-style: none;
    border-left: 2px solid #f1f1f1;
  }
  
  .timeline li .content-text {
    /* background: #f2f2f2;
    padding: 20px; */
    background: #f5ddc4;
    padding: 15px;
    border: solid 1px #ce4714;
    border-radius: 5px;
  }
  
  .timeline li .line-title {
    font-size: 16px;
    line-height: 6px;
  }
  
  .timeline li span {
    font-size: 12px;
    /* padding: 9px 0; */
    display: block;
  }
  
  .timeline li .line-text {
    color: #888;
    line-height: 18px;
  }

  .services-item{
    background: #f5ddc4;
    /* border: solid 1px #ce4714; */
    border-radius: 5px;
    text-align: center;
  }